<script type="text/javascript" charset="utf-8">
  $(document).ready( function(){
    $('#casefile_doctor').autocomplete('/doctors.js');
  });

</script>

<%= form_for(@casefile) do |f| %>
  <% if @casefile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@casefile.errors.count, "error") %> prohibited this casefile from being saved:</h2>

      <ul>
      <% @casefile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <%= f.label :doctor %>
  <%= f.text_field :doctor %>

<div style="background:lightgreen">rating via radio_button</div>
  <%= f.radio_button :rating, "1" %>1
  <%= f.radio_button :rating, "2" %>2
  <%= f.radio_button :rating, "3" %>3

<p/>
<div style="background:lightblue">rating via radio_button_<strong>tag</strong></div>
<% @rx = @casefile.rating_tag.to_s %>
  <%= radio_button_tag :rating_tag, "1", @rx == "1" %>1
  <%= radio_button_tag :rating_tag, "2", @rx == "2" %>2
  <%= radio_button_tag :rating_tag, "3", @rx == "3" %>3

  <!-- <div>
    <label> 
      <input id="rating_1" name="rating" type="radio" value="1" /> 
      1
    </label> 
    <label> 
      <input id="rating_2" name="rating" type="radio" value="2" /> 
      2
    </label> 
    <label> 
      <input id="rating_3" name="rating" type="radio" value="3" /> 
      3
    </label>
  </div>
   -->

<br/>
<br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
