<h1>Listing casefiles</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Doctor</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @casefiles.each do |casefile| %>
  <tr>
    <td><%= casefile.name %></td>
    <td><%= casefile.doctor_id %></td>
    <td><%= link_to 'Show', casefile %></td>
    <td><%= link_to 'Edit', edit_casefile_path(casefile) %></td>
    <td><%= link_to 'Destroy', casefile, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Casefile', new_casefile_path %>
