<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @casefile.name %>
</p>

<p>
  <b>Doctor:</b>
  <%= @casefile.doctor_id %>
</p>


<%= link_to 'Edit', edit_casefile_path(@casefile) %> |
<%= link_to 'Back', casefiles_path %>
