<%= form_for(@radio) do |f| %>
  <% if @radio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@radio.errors.count, "error") %> prohibited this radio from being saved:</h2>

      <ul>
      <% @radio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rating %><br />
    <%= f.radio_button :rating, 1 %>1
    <%= f.radio_button :rating, 2 %>2
    <%= f.radio_button :rating, 3 %>3
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
