<p id="notice"><%= notice %></p>

<p>
  <b>rating:</b>
  <%= @radio.rating %>
</p>
<p>
  <b>watts:</b>
  <%= @radio.watts %>
</p>


<%= link_to 'Edit', edit_radio_path(@radio) %> |
<%= link_to 'Back', radios_path %>
