<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>


<br/>
<br/>
<strong>View index of my 
<%= @doctor.casefiles.size %>
<%= link_to "casefiles", doctor_casefiles_path(@doctor) %>
<br/>
</strong><br/>
<br/>
<br/>
<br/>
<hr/>
<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
