<!DOCTYPE html>
<html>
<head>
  <title>Doctorcase</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js' %>
  <%= javascript_include_tag 'jquery.autocomplete.js' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

<br/>
<br/>
<br/>
<hr/>
<%= link_to "doctors", doctors_path %>

<br/>
<%= link_to "case files", casefiles_path %>

<hr/>

</body>
</html>
